.background { 
	-fx-background-color: transparent, #bababa, transparent, white;	
}
.AnchorPane{
	-fx-background-color: transparent, #bababa, transparent, white;
	-fx-border-style: solid;
}
.HBox{
	-fx-background-color: transparent, #bababa, transparent, white;
}
.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-style: null; 
    -fx-background-radius: 0;

    -fx-background-color: #cccccc;
  
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: black;
}

.button:hover{
    -fx-background-color: #d8d8d8;
}

.button:pressed, .button:default:hover:pressed
{
  -fx-background-color: black;
  -fx-text-fill: white;
}

.button:focused
{
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: segments(1, 1);
    -fx-background-insets: 0 0 0 0, 0, 1, 2;   
}

.combo-box-base  {
    -fx-background-color: transparent, #bababa, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em; /* 2 */
    -fx-border-style: solid;
}

.combo-box-base:hover {
    -fx-background-color: transparent, #909090, transparent, white;
    
}

.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}

/* ------- OPEN BUTTON ------- */
.combo-box-base .arrow-button {
    -fx-background-color: transparent, transparent, white;
}

/* ------- ARROW* ------- */
.combo-box-base .arrow {
    -fx-padding: 0.333333em 0.333333em 0.333333em 0.333333em; /* 4 4 4 4 */
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
}

.combo-box-popup .list-view {
    -fx-background-color: #909090, -fx-control-inner-background;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell:hover{
    -fx-background-color: #dedede;
    -fx-text-fill: #1d1d1d;
}

.combo-box-popup .list-view .list-cell:filled:selected{
    -fx-background-color: #55c4fe;
}

.combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #6dcdff;
}

.combo-box-popup .list-view .list-cell:filled:pressed, .combo-box-popup .list-view .list-cell:filled:selected:pressed
{
    -fx-background-color: #d3d3d3;
    -fx-text-fill: #1d1d1d;
}

.text-field{
	-fx-padding: 5 22 5 22; 
	-fx-border-style: solid; 
    -fx-background-radius: 0;

    -fx-background-color: transparent, #bababa, transparent, white;
}

.date-picker:editable .date-picker-display-node{
	-fx-border-style: null;
}

#balance-label { 
	-fx-padding : 10 0 10 20;
	-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #FF9900; 
}

#balance-amount {
	-fx-padding : 10 0 10 0;
	-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: red; 
}

#add-button { 
	-fx-padding : 5;
	-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
	-fx-font-size: 10pt;
	-fx-background-color: transparent, #bababa, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em; /* 2 */
    -fx-border-style: solid;
}

#db-wiper {
	-fx-text-fill: red;

}
.background:top{
	-fx-border-style:none;
}
.tab:top {
	-fx-background-color: transparent, #bababa, transparent, white;
	-fx-border-style: solid;
}
.tab:top:selected{
	-fx-background-color: #d8d8d8;
}
.tab:top:selected .tab-container .tab-label{
	-fx-background-color: #d8d8d8;
}
.tab-label{
	-fx-background-color: transparent, #bababa, transparent, white;;
}
.tab-label .text{
	-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
	-fx-font-size: 10pt;
}
.tab-header-background{
	-fx-background-color: transparent, #bababa, transparent, white;

}
.VBox{
	-fx-background-color: transparent, #bababa, transparent, white;
}
.title{
	-fx-border-style: solid;
	-fx-background-color: transparent, #bababa, transparent, white;
	-fx-background-radius: 0, 0, 0, 0;
	-fx-padding: 0.166667em; /* 2 */
}
.title .text {
	-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
	-fx-font-size: 10pt;
}
.text-area:readonly{
	-fx-border-style: none;
	-fx-background-color: transparent, #bababa, transparent, white;
}
#message {
	-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
	-fx-font-size: 10pt;
	-fx-text-fill: green;
	-fx-margin: 10 0 10 0;
}