/bin/

.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
MoneyManager.iml
.idea/libraries/sqlite_jdbc_3_8_7.xml
.idea/uiDesigner.xml